<div class="btn-group">
    <button class="btn btn-default btn-sm" onclick="edit('{{ group.id }}')">
        <i class="fa fa-edit"></i>&nbsp;&nbsp;查看
    </button>
    <button class="btn btn-danger btn-sm" onclick="del('{{ group.id }}')">
        <i class="fa fa-trash"></i>&nbsp;&nbsp;删除
    </button>
</div>