<div class="col-sm-6">
    <div class="box box-success">
        <div class="box-header with-border">
            <h3 class="box-title">新增</h3>
        </div>
        <div class="box-body no-padding">
            <form action="" method="post" class="form-horizontal" pjax-container="1">

            </form>
        </div>
    </div>
</div>