{% extends 'layouts/base.twig' %}

{% block title %}菜单管理{% endblock %}

{% block content %}
    <link rel="stylesheet" href="dist/css/nestable.css">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            菜单管理
            <small>修改个人信息及密码</small>
        </h1>
    </section>

    <section class="content container-fluid">
        <div class="row">
            {% include 'menu/menu_list.twig' %}
            {% include 'menu/create_menu.twig' %}
        </div>
    </section>

    <script src="dist/js/jquery.nestable.js"></script>
    <script data-exec-on-popstate>
        $(function () {
            $('.dd').nestable({});
            $()
        });
    </script>
{% endblock %}