{% extends 'layouts/base.twig' %}

{% block title %}菜单管理{% endblock %}

{% block content %}
    <link rel="stylesheet" href="dist/css/nestable.css">
    <link rel="stylesheet" href="dist/css/fontawesome-iconpicker.min.css">
    <script src="dist/js/fontawesome-iconpicker.min.js"></script>
    <script src="bower_components/select2/dist/js/select2.full.min.js"></script>

    <section class="content-header">
        <h1>
            菜单管理
            <small>修改菜单配置</small>
        </h1>
    </section>

    <section class="content container-fluid">
        <div class="row">
            <div class="col-sm-6" id="menu_list">
                {% include 'menu/menu_list.twig' %}
            </div>
            {% include 'menu/edit_menu.twig' %}
        </div>
    </section>

    <script src="dist/js/jquery.nestable.js"></script>
    <script data-exec-on-popstate>
        var menus = JSON.parse('{{ allMenu|json_encode|raw }}')
        $(function () {
            $('.dd').nestable({
                maxDepth : 2
            });

            $('#nestable_menu').on('click', function(e) {
                var target = $(e.target),
                    action = target.data('action');
                if (action === 'expand-all') {
                    $('.dd').nestable('expandAll');
                }
                if (action === 'collapse-all') {
                    $('.dd').nestable('collapseAll');
                }
            });

            $('#btn_save').on('click', function () {
                var menus = JSON.stringify($('.dd').nestable('serialize'))
                $.post('/index/menu/updateSort', {menus: menus}, function (json) {
                    console.log(json)
                })
            })

            $('.tree_branch_delete').on('click', function (e) {
                var target = $(e.target),
                    menuId = target.parent().data('id');
                $.post('/index/menu/delete',{id:menuId},function (json) {
                    $.pjax.reload('#pjax-container');
                })
            })

            $('.tree_branch_edit').on('click', function (e) {
                var target = $(e.target),
                    menuId = target.parent().data('id');
                var menu = menus[menuId][0];
                for(var key in menu){
                    $('#m'+key).val(menu[key]);
                }
            })

            $('#m_reset_btn').on('click', function () {
                $('form input').val('')
            })

            $('#btn_refresh').on('click', function () {
                $.pjax.reload('#pjax-container');
            })

            $('.select2').select2()
            $('.icon').iconpicker({placement:'bottomLeft'})
        });
    </script>
{% endblock %}