{% extends 'layouts/base.twig' %}

{% block title %}菜单管理{% endblock %}

{% block content %}
    <link rel="stylesheet" href="dist/css/nestable.css">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            菜单管理
            <small>修改菜单配置</small>
        </h1>
    </section>

    <section class="content container-fluid">
        <div class="row">
            {% include 'menu/menu_list.twig' %}
            {% include 'menu/create_menu.twig' %}
        </div>
    </section>

    <script src="dist/js/jquery.nestable.js"></script>
    <script data-exec-on-popstate>
        $(function () {
            $('.dd').nestable({
                maxDepth : 2
            });

            $('#nestable_menu').on('click', function(e) {
                var target = $(e.target),
                    action = target.data('action');
                if (action === 'expand-all') {
                    $('.dd').nestable('expandAll');
                }
                if (action === 'collapse-all') {
                    $('.dd').nestable('collapseAll');
                }
            });
            
            $('#btn_save').on('click', function () {
                var menus = JSON.stringify($('.dd').nestable('serialize'))
                $.post('/index/menu/updateSort', {menus: menus}, function (json) {
                    console.log(json)
                })
            })
        });
    </script>
{% endblock %}