{% extends 'layouts/base.twig' %}

{% block title %}管理后台{% endblock %}
{% block masterTitle %}首页{% endblock %}
{% block subTitle %}管理后台{% endblock %}

{% block content %}
    <section class="content container-fluid">
    </section>

    <script data-exec-on-popstate>
        $(function () {
        });
    </script>
{% endblock %}