{% extends 'layouts/base.twig' %}
{% block content %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Page Header
            <small>Optional description</small>
        </h1>
    </section>

    <section class="content container-fluid">
    </section>

    <script data-exec-on-popstate>
        $(function () {
        });
    </script>
{% endblock %}